/*
 * general stuff that makes my resume have a consistent style
 *
 */
@import "resume-fonts.css";
@import "resume-common.css";
@import "resume-skills.css";
@import "resume-experience.css";
@import "resume-education.css";
@import "resume-bio.css";

body {
	background-color: white;
	color: black;
	font-family: "Times New Roman", Arial, Helvetica, courier-new, sans-serif;
}

ol, ul {
	padding-right: 5%;
}

ol {
	list-style-type: none;
	padding-left: 0%;
}

li {
	margin: 5px;
	line-height: 1.5em;
}

.resume {
	margin-left: 10%;
	margin-right: 10%;
}
