/*
 * general stuff that makes my resume have a consistent style
 *
 */
body {
	margin-left: 10%;
	background-color:rgb(256, 200, 200);
	font-family:Palatino, Arial, "Times New Roman";
}

ol {
	list-style-type: none;
}

/*
.header {
	display: none;
}
*/
